<nav class="navbar navbar-light bg-light">
   <a class="navbar-brand" href="/">ESDR</a>
   <ul class="navbar-nav mr-auto">
      <li class="nav-item {{#ifEqual entity 'clients'}}active{{/ifEqual}}">
         <a class="nav-link" href="/home/clients">Clients</a>
      </li>
   </ul>
   <span class="navbar-text">
      <a href="/logout" class="logout_link">Logout</a>
   </span>
</nav>