<nav class="navbar navbar-default">
   <!-- Brand and toggle get grouped for better mobile display -->
   <div class="navbar-header">
      <a class="navbar-brand" href="/">ESDR</a>
   </div>

   <!-- Collect the nav links, forms, and other content for toggling -->
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li {{#ifEqual entity 'clients'}}class="active"{{/ifEqual}}><a href="/home/clients">Clients</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/logout">Log Out</a></li>
      </ul>
   </div><!-- /.navbar-collapse -->
</nav>
