.DS_Store
*.iws
datastore
node_modules
out
logs/*.log

newrelic.js
newrelic_agent.log

config-prod.json
config-stage.json
mail-config-dev.json
mail-config-test.json
mail-config-stage.json
mail-config-prod.json