<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>CATTfish: Computer says no...</title>
   <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/css/main.css" rel="stylesheet" type="text/css"/>
</head>
<body>
{{{body}}}
</body>
</html>
