<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{{title}}}</title>
   <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/css/main.css" rel="stylesheet" type="text/css"/>
   <script src="/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
   <script src="/lib/superagent/superagent.js" type="text/javascript"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js" integrity="sha512-zT3zHcFYbQwjHdKjCu6OMmETx8fJA9S7E6W7kBeFxultf75OPTYUJigEKX58qgyQMi1m1EgenfjMXlRZG8BXaw==" crossorigin="anonymous"></script>
   <script src="/js/org/cmucreatelab/esdr/Messages.js" type="text/javascript"></script>
   <script src="/js/form-utils.js" type="text/javascript"></script>
   <script src="/js/handlebars_templates.js" type="text/javascript"></script>
   {{#isAuthenticated}}
      <script src="/js/org/cmucreatelab/esdr/AccessToken.js" type="text/javascript"></script>
   {{/isAuthenticated}}
</head>
<body>
{{{body}}}
</body>
</html>