<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{{title}}}</title>
   <link href="/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
   <link href="/css/fonts/OpenSans/OpenSans.css" rel="stylesheet" type="text/css"/>
   <link href="/css/main.css" rel="stylesheet" type="text/css"/>
   <script src="/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
   <script src="/lib/superagent/superagent.js" type="text/javascript"></script>
   <script src="/lib/handlebars/handlebars.runtime-v2.0.0.js" type="text/javascript"></script>
   <script src="/js/org/cmucreatelab/esdr/Messages.js" type="text/javascript"></script>
   <script src="/js/form-utils.js" type="text/javascript"></script>
</head>
<body>
{{{body}}}
</body>
</html>