<div class="container card main_container">
   <div class="card-body">
      <h2>
         {{title}}
      </h2>
      <div class="page_instructions">
         {{message}}
      </div>
   </div>
</div>
