<div class="main_container panel panel-default">
   <div class="content_container panel-body">
      <h2>
         {{title}}
      </h2>
      <div class="page_instructions">
         {{message}}
      </div>
   </div>
</div>
