<div class="main_container panel panel-default">
   <div class="content_container panel-body text-center">
      Redirecting to <a href="https://environmentaldata.org/">environmentaldata.org</a>...
   </div>
</div>
<script type="text/javascript">
   // redirect to environmentaldata.org, preserving the hash
   window.location.href = 'https://environmentaldata.org/' + window.location.hash;
</script>
