<div class="main_container panel panel-default">
   <div class="content_container panel-body">
      <h2>
         Environmental Sensor Data Repository (ESDR)
      </h2>
      <div class="page_instructions">
         Hey, you're logged in!  <a href="/logout">Log out</a>
      </div>
   </div>
</div>