<div class="container">
   <div class="card main_container">
      <div class="card-header text-center">
         <div class="card-title">
            <h2>
               Environmental Sensor Data Repository (ESDR)
            </h2>
         </div>
         <div class="card-text">
            <p>Welcome to ESDR, a free and <a href="https://github.com/CMU-CREATE-Lab/esdr" target="_blank">open-source</a>
            repository for environmental sensor data.</p>
         </div>
      </div>
      <div class="card-body text-center">
         <h4 class="card-title">
            <a href="https://environmentaldata.org/" target="environmentaldata.org">Explore and Download Public Environmental Data</a>
         </h4>
         <div class="card-text">
            <p>Our <a href="https://environmentaldata.org/" target="environmentaldata.org">environmentaldata.org</a> site
            is the best tool for exploring and downloading ESDR's public environmental data. No login necessary!</p>
         </div>
      </div>
      <div class="card-footer ">
         <div class="page_instructions text-center" style="margin-bottom:40px">
            <p>To upload data to ESDR, or to access private data, you'll need to have an account.</p>
         </div>
         <div class="row">
            <div class="col-md-6">
               <div class="card" style="margin-bottom:10px">
                  <div class="card-body">
                     <h5 class="card-title">Sign Up</h5>
                     {{> signup}}
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="card" style="margin-bottom:10px">
                  <div class="card-body">
                     <h5 class="card-title">Log In</h5>
                     {{> login}}
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>