<div class="container">
   <div class="card main_container">
      <div class="card-body">
         <h2>
            Sign Up
         </h2>
         <div class="page_instructions">
            Use this form to create an ESDR account. Already have an account? <a href="/login">Log in!</a>
         </div>
         {{> signup}}
      </div>
   </div>
</div>