body {
  color: #1c1c1e;
  background-color: #c7d6e1; }

.main_container {
  background: #ffffff;
  width: 1000px;
  min-width: 800px;
  margin: 50px auto;
  padding-top: 20px;
  padding-bottom: 50px; }

.main_container_with_navbar {
  margin: 10px;
  min-width: 800px;
  width: auto;
  padding-top: 0; }

.content_container {
  margin-left: 50px;
  margin-right: 50px; }

.page_title {
  font-size: 24px !important;
  margin-bottom: 20px; }

.page_instructions {
  margin-top: 30px;
  margin-bottom: 20px; }

.big_form input[type="text"], .big_form input[type="email"], .big_form input[type="password"], .big_form input[type="url"] {
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  margin: 0 0 15px 0; }

.form_messages {
  display: none;
  margin-bottom: 15px; }

.help-block {
  font-size: 8pt;
  margin-bottom: 0; }

h4 {
  margin-top: 20px; }

.navbar {
  margin-bottom: 0; }
