body {
  color: #1c1c1e;
  background-color: #c7d6e1; }

.main_container {
  background: #ffffff;
  width: 1000px;
  margin: 50px auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.content_container {
  margin-left: 50px;
  margin-right: 50px; }

.page_title {
  font-size: 24px !important;
  margin-bottom: 20px; }

.page_instructions {
  margin-top: 30px;
  margin-bottom: 20px; }

input[type="text"], input[type="email"], input[type="password"] {
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  margin: 0 0 15px 0; }

.form_messages {
  display: none;
  margin-bottom: 15px; }
