   #infowindow {
    max-height:150px;
    }
      html, body{
         height: 100%;
         width: 100%;
         margin: 0;
         padding: 0;
      }

      body {
         font-family: 'Helvetica', 'Open Sans', sans-serif !important;
         font-weight: 400 !important;
         font-size: 16px !important;
         margin: 0px;
         padding: 0px;
         min-width: 100%;
         min-height: 100%;
         background-color: rgb(240, 240, 240)
      }

      label,input{
        cursor: pointer;
      }

      .tool-bar{
        position: absolute;
        width: 20%;
        min-width: 225px;
        left: 0px;
        -moz-box-shadow:    1px 0px 2px #bbb;
        -webkit-box-shadow: 1px 0px 2px #bbb;
        box-shadow:         1px 0px 2px #bbb;
        z-index: 1;
      }

      .tool-bar input[type=checkbox]{
        height: 12px;
        width: 12px;
      }

      .title-bar{
        height: 35px;
        background-color: rgba(50,50,50, .75);
        font-weight: bold;
      }

      .title-bar p{
        vertical-align: middle;
        padding-left: 10px;
        font-size: 14.5px;
        line-height: 5px;
        color: rgba(255,255,255,.9);
      }

      .title-bar legend{
        vertical-align: middle;
        padding-left: 10px;
        font-size: 14.5px;
        line-height: 5px;
        color: rgba(255,255,255,.9)
      }

      #feedback-button{
        position: absolute;
        width: 20%;
        min-width: 225px;
        left: 0px;
        z-index: 1;
        
        height: 35px;
        background-color: rgba(50,50,50);
        font-weight: bold;
        
        display: inline-block;
        bottom: 0px;
      }

      #feedback-button > p{
        text-align: center;
        float: middle;
      }

      #feedback-button:hover{
        background-color: rgba(150,150,150);
      }
  
      #channels-title{
        display: inline-block;
        top: 0px;
      }

      #channels-title > p{
        float: left;
      }

      #help-icon{
        position: absolute;
        margin-right: 10px;
        height: 23px;
        width: 40px;
        right: 0px;
        border-radius: 5px;
        border: 2px solid white;
        color: white;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        line-height: 23px;
        font-weight: lighter;
        font-size: 12px;
      }

      #help-icon:hover{
          background-color: rgba(150,150,150, .75);
      }

      #search-box{
        top:38px;
      }

      #search-bar{
        position: absolute;
        height: 85%;
        width: 99%;
        left: .5%;
        top: 7.5%;
        font-size: 12px;
        border: none;
        border-top: 2px solid rgba(180,180,180, .75);
        border-bottom: 2px solid rgba(180,180,180, .75);;
        outline: none;
        font-weight: normal;
        color: rgba(100,100,100, .75);
        background-color: white;
        transition: background-color .3s ease-in-out;

      }

      #search-bar:focus{
        /*background-color: rgba(130,130,130, .75);*/
        color: black;
      }

      .load{
        position: absolute;
        border-radius: 5px;
        border: 2px solid grey;
        color: grey;
        text-align: center;
        line-height: 23px;
        font-weight: lighter;
        font-size: 12px;
      }

      #loadP{
        margin:1px;
      }

      #search-bar::-webkit-search-cancel-button{
          position: relative;
          right: 10px;
      }

      #search-bar::-ms-clear{
         margin-right: 10px
      }

      #search-bar:disabled{
          background-color: rgba(50,50,50, .75);
      }

      #filter-title{
        top: 76px;
        display: none;
      }

      #filters{
        font-size: 12px;
        height: 190px;
        top: 110px;
        display: none;
      }

      .filter-tab{
         position: relative;
         height: 25px;
         width: 40%;
         text-align: center;
         margin: 5px 10px;
         opacity: .5;
      }

      .filter-tab:hover{
        cursor: pointer;
        opacity: 1;
      }

      .filter-tab p{
        font-weight: normal;
        font-size: 12px;
        padding: 0px;
      }

      #air-tab{
        float: left;
      }

      #water-tab{
        float: right;
      }

      #filters fieldset{
        border: none;
      }

      #air-quality{
        margin-top: 5px;
      }

      #air-quality label{
        color: gray;
      }

      .button{
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        transition: background-color .1s ease-in-out;
      }

       .button:hover{
        background-color: rgba(90,90,90, .75)
      }

      .button:active{
        transition: background-color 0s;
        background-color: rgba(190,190,190, .75)
      }

      #clear-button-div{
        top: 260px;
        left: 5%;
        min-width: 120px;
        width: 120px;
        border-radius: 5px;
        border: 2px solid grey;
        color: grey;
        cursor: pointer;
        display: none;
      }
      #clear-button{
        top: 85px;
        min-width: 120px;
        width: 220px;
        cursor: pointer;
      }

      #clear-button p{
        font-size: 11px;
        padding: 0px;
        line-height: 15px;
        margin:10px;
      }

      #results-title{
        top: 138px;
      }

      #channels{
        height: calc(100% - 174px - 35px);
        bottom: 35px;
        margin-bottom: 0px;
        font-size:10px;
        overflow-y:auto;
      }

      .sensors{
        display: block;
      }

      .main-content{
        position: absolute;
        width: 80%;
        left: 20%;
      }

      #map-div{
        height:55%;
        top:0px;
        resize: vertical;
        overflow: auto;
      }

      #legend{
        position: absolute;
        width: 190px;
        height: 140px;
        right: 5px;
        bottom : calc(45% + 55px);
        background-color: rgba(200, 200, 200, .4);
        display: none;
        left: auto;
      }

      .legend-container{
        position: relative;
        width: 100%;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
      }
      .greenYellow {
        background: -moz-linear-gradient(left,  rgba(0,255,0,0.7) 0%, rgba(255,255,0,0.7) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,255,0,0.7)), color-stop(100%,rgba(255,255,0,0.7)));
        background: -webkit-linear-gradient(left,  rgba(0,255,0,0.7) 0%,rgba(255,255,0,0.7) 100%);
        background: -o-linear-gradient(left,  rgba(0,255,0,0.7) 0%,rgba(255,255,0,0.7) 100%);
        background: -ms-linear-gradient(left,  rgba(0,255,0,0.7) 0%,rgba(255,255,0,0.7) 100%);
        background: linear-gradient(to right,  rgba(0,255,0,0.7) 0%,rgba(255,255,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b300ff00', endColorstr='#b3ffff00',GradientType=1 );
      }

      .yellowOrange {
        background: -moz-linear-gradient(left,  rgba(255,255,0,0.7) 0%, rgba(255,125,0,0.7) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,0,0.7)), color-stop(100%,rgba(255,125,0,0.7)));
        background: -webkit-linear-gradient(left,  rgba(255,255,0,0.7) 0%,rgba(255,125,0,0.7) 100%);
        background: -o-linear-gradient(left,  rgba(255,255,0,0.7) 0%,rgba(255,125,0,0.7) 100%);
        background: -ms-linear-gradient(left,  rgba(255,255,0,0.7) 0%,rgba(255,125,0,0.7) 100%);
        background: linear-gradient(to right,  rgba(255,255,0,0.7) 0%,rgba(255,125,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffff00', endColorstr='#b3ff7d00',GradientType=1 );
      }

      .orangeRed{
        background: -moz-linear-gradient(left,  rgba(255,125,0,0.7) 0%, rgba(255,0,0,0.7) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,125,0,0.7)), color-stop(100%,rgba(255,0,0,0.7)));
        background: -webkit-linear-gradient(left,  rgba(255,125,0,0.7) 0%,rgba(255,0,0,0.7) 100%);
        background: -o-linear-gradient(left,  rgba(255,125,0,0.7) 0%,rgba(255,0,0,0.7) 100%);
        background: -ms-linear-gradient(left,  rgba(255,125,0,0.7) 0%,rgba(255,0,0,0.7) 100%);
        background: linear-gradient(to right,  rgba(255,125,0,0.7) 0%,rgba(255,0,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ff7d00', endColorstr='#b3ff0000',GradientType=1 );
      }

      .redPurple{
        background: -moz-linear-gradient(left,  rgba(255,0,0,0.7) 0%, rgba(150,0,80,0.7) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,0.7)), color-stop(100%,rgba(150,0,80,0.7)));
        background: -webkit-linear-gradient(left,  rgba(255,0,0,0.7) 0%,rgba(150,0,80,0.7) 100%);
        background: -o-linear-gradient(left,  rgba(255,0,0,0.7) 0%,rgba(150,0,80,0.7) 100%);
        background: -ms-linear-gradient(left,  rgba(255,0,0,0.7) 0%,rgba(150,0,80,0.7) 100%);
        background: linear-gradient(to right,  rgba(255,0,0,0.7) 0%,rgba(150,0,80,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ff0000', endColorstr='#b3960050',GradientType=1 );

      }

      .purpleMaroon{
        background: -moz-linear-gradient(left,  rgba(150,0,80,0.7) 0%, rgba(125,0,0,0.7) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(150,0,80,0.7)), color-stop(100%,rgba(125,0,0,0.7)));
        background: -webkit-linear-gradient(left,  rgba(150,0,80,0.7) 0%,rgba(125,0,0,0.7) 100%);
        background: -o-linear-gradient(left,  rgba(150,0,80,0.7) 0%,rgba(125,0,0,0.7) 100%);
        background: -ms-linear-gradient(left,  rgba(150,0,80,0.7) 0%,rgba(125,0,0,0.7) 100%);
        background: linear-gradient(to right,  rgba(150,0,80,0.7) 0%,rgba(125,0,0,0.7) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3960050', endColorstr='#b37d0000',GradientType=1 );
      }

      .color-box{
        position: absolute;
        width: 17px;
        height: 10px;
        border: 3px solid rgba(50,50,50,.75);
        top: 50%;
        transform: translateY(-50%);
        margin: 0px 8px;
      }

      .legend-container p{
        position:absolute;
        width:100%;
        height: 100%;
        text-align: justify;
        margin: 0px 40px;
        white-space:pre-wrap;
      }

      #map-bar{
        height: 55px;
        bottom: 45%;
        background-color: rgba(50,50,50,.75);
        display: none;
        visibility: hidden;
      }

      #map-bar form{
        font-size: 12px;
        position: relative;
        height: 50px;
        text-align: center;
        float: left;
        margin: 0px 10px;
      }

      #map-bar form label{
        display: inline-block;
        margin: 0px 2px;
        text-align: left;
      }

      #map-bar form label~input{
        display: inline-block;
        margin: 0px 5px;
      }

      #map-bar form legend{
        color: white;
      }

      #map-bar fieldset>input{
        display: inline-block;
        margin: 0px 5px;
        width: 70px;
        font-size: 11px;
      }

      #map-filter{
        width : 200px;
      }

      #duration{
        margin-left: 15px;
        width: 30px;
      }

      .play-pause{
        position: relative;
        float: left;
        height: 50px;
        width: 50px;
        top: 50%;
        margin: -25px 10px 0px;
        border-radius: 50%;
        background-color: rgba(200, 200, 200, 1);
        opacity: .30;
      }

      .bar{
        position: absolute;
        height: 30px;
        width: 8px;
        background-color: rgba(50,50,50,.75);
        transition: transform .25s;
        border: 1px solid transparent
      }
      #bar1{
        transform: translateX(24px) translateY(2px) rotate(135deg);
      }

      #bar2{
        transform: translateX(24px) translateY(18px) rotate(45deg);
      }

      #timeline{
        width: 250px;
        clear : right;
        margin : 0px 10px;
      }

      #export-button, #histogram-button{
        position: relative;
        float: right;
        clear: none;
        display: inline;
        transform: translateY(25%);
        margin-right: 15px;
        margin-left: 13px;
      }
     
      #histogram-button > p, #export-button > p, #toggle-map-button > p{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px; !important
        text-align: center;
      }
     
      #toggle-map-button{
        position: relative;
        float: right;
        clear: none;
        display: inline;
        transform: translateY(25%);
        margin-right: 15px;
        margin-left: 13px;
       visibility: hidden;
        background-color: rgba(255,255,255,.75); !important
      }
     
      #toggle-map-button:hover{
       background-color: rgba(200,200,200,.75); !important
      }

      #dark-background{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(30, 30, 30, .85);
        z-index: 999;
      }
      
      #histogram-menu-background{
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 999;
      }

      #export-menu{
        position: relative;
        height: 50%;
        width: 60%;
        min-width: 300px;
        min-height: 250px;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgb(180, 180, 180);
      }
     
      #histogram-menu{
       position:sticky;
        top: 10px;
        width: 60%;
        max-height: 45%;
        margin: left;
        left:35%;
        resize:vertical;
        border-style: hidden;
      }
     
      #export-title, #histogram-title{
        position: absolute;
        width: 100%;
        min-width: 250px;
        height: 50px;
        font-size: 20px;
        background-color: rgb(50,50,50);
        margin: 0px;
        padding: 0px;
        line-height: 47px;
        text-align: center;
      }

      #export-title p, #histogram-title p{
        color: white;
        margin: 0px;
        padding: 0px;
      }

      #export-title .x-button, #histogram-title .x-button{
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0px;
        right: 0px;
        background-color: rgb(60,60,60);
        border: none;
      }

      .x-button:hover{
          cursor: pointer;
      }

      .x-button{
        position: absolute;
        top: 0px;
        right: 0px;
        height: 50px;
        width: 50px;
        background-color: rgb(60,60,60);
        font-size: 30px
      }

      #export-content, #histogram{
        position: relative;
        top: 50px;
        height: 100%;
        width: 100%;
        background-color: rgb(180, 180, 180);
        overflow: auto;
      }
     
      #histogram{
        background-color: white;
        text-align: center;
        resize: vertical;
        border-style: hidden;
      }

      .file-info{
        margin-left: 15px;
      }

      #charts{
        height: 45%;
        bottom: 0px;
      }

      #date-axis-toolbar{
        position: relative;
        height: 50px;
        width: 100%;
        background-color: rgba(50,50,50,.75);
      }

      #axis-container{
        position:relative;
        height: 50px;
        width:100%;
        border-bottom: 1px solid black;
        overflow-x: hidden;
      }
     
      #chart-button-container{
        position: relative;
        float: right;
      } 

      #button-container{
        color: white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5px;
        font-size: 15px;
      }

      #button-container > p{
        margin: 0px;
        float: left;
      }

      .timeline-button{
        position: relative;
        float: left;
        font-size: 13px;
        cursor: pointer;
      }
     

      #date_axis{
        overflow: hidden;
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:40px;
      }

      .grabbable {
          cursor: move; /* fallback if grab cursor is unsupported */
          cursor: grab;
          cursor: -moz-grab;
          cursor: -webkit-grab;
          cursor: url(openhand.cur), move;
      }

       /* (Optional) Apply a "closed-hand" cursor during drag operation. */
      .grabbable:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
          cursor: url(closedhand.cur), move;
      }


      #plots{
        position:relative;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: calc(100% - 101px);
      }

      .plot_container {
         position: relative;
         border: 1px solid black;
      }

      .plot_container > canvas:focus {
         outline: none;
      }

      .date_axis {
         height: 42px;
         z-index: 2;
         border: 1px solid black;
         border-bottom-width: 0;
      }

      .y_axis {
         position: relative;
         width: 42px;
         border: 1px solid black;
         border-left-width: 0;
      }

      .y_axis_label {
         position: absolute;
         text-align: center;
         font-size: 8pt;
         height: auto;
      }

      .rotate_90 {
         transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         -webkit-transform: rotate(90deg);
      }

      #channel_switcher_panel {
         text-align: center;
         margin-top: 10px;
         margin-bottom: 20px;
         font-size: smaller;
      }

      .channel_link, .time_range_link {
         display: inline-block;
         margin-left: 10px;
         margin-right: 10px;
         cursor: pointer;
      }

      #time_range_switcher_panel {
         text-align: center;
         margin-top: 10px;
         margin-bottom: 20px;
         font-size: smaller;
      }

      #value_and_time {
         position: absolute;
         display: none;
         top: 2px;
         right: 2px;
         background-color: rgba(255, 255, 255, 0.9);
         margin: 2px;
         padding: 2px;
         font-size: 11px;
         line-height: 11px;
      }

       #loading {
          background: url(loading.gif) no-repeat center;
          pointer-events: none;
          position: absolute;
          height: 50px;
          width: 50px;
          z-index: 100;
          top: 25%;
          right: 40%;
        }

      @media (max-width: 500px){
          #map-bar{
            height: 150px;
          }
          #legend{
            bottom : calc(45% + 150px);
          }
          #map-filters{
            margin : 0px 10px 20px;
          }
          #timeline{
            clear : left;
            margin : 70px 10px;
          }
          .play-pause{
            position: absolute;
            top: 125px;
            left: 180px;
          }
/*
          #export-button{
            top : 17%;
            float : left;
            clear : left;
          }
          #histogram-button{
            top : 17%;
            float : left;
            clear : left;
          }
*/
      }
      @media (min-width: 500px) and (max-width: 800px){
          #map-bar{
            height: 150px;
          }
          #legend{
            bottom : calc(45% + 150px);
          }
          #map-filters{
            margin : 0px 10px 20px;
          }
          #timeline{
            clear : left;
            margin : 70px 10px;
          }
          .play-pause{
            position: absolute;
            top: 125px;
            left: 180px;
          }
        
        
/*
          #export-button, #histogram-button{
            top : 17%;
            float : left;
            clear : left;
          }
*/
          #day-button{
            clear: left;
            margin-left: 109px;
          }
      }
      @media (min-width: 801px) and (max-width: 1080px){
          #map-bar{
            height: 100px;
          }
          #legend{
            bottom : calc(45% + 100px);
          }
          #map-filters{
            margin : 0px 10px;
          }
          #timeline{
            clear : left;
            margin : 0px 10px;
          }
          .play-pause{
            margin : -25px 50px 0px;
            float : left;
          }
/*
          #export-button, #histogram-button{
            top : 0%;
            float : right;
            clear : none;
          }
*/
      }

      @media (max-width: 1125px){
        #clear-button{
          left: 3px;
        }
        #legend {
          left: 225px;
        }
        .main-content {
          left : 225px;
          width: calc(100% - 225px);
        };
      }
   