<div class="main_container main_container_with_navbar panel panel-default">
   {{> navbar}}
   <div class="content_container panel-body">
      <h2>
         Clients
      </h2>
      <div class="page_instructions">
         This is the clients page.
      </div>
   </div>
</div>