<div class="main_container main_container_with_navbar panel panel-default">
   {{> navbar}}
   <div class="content_container panel-body">
      <h2>
         Feeds
      </h2>
      <div class="page_instructions">
         This will be the feeds page.
      </div>
   </div>
</div>