{{> navbar}}
<div class="main_container_with_navbar">
   <div class="card-body">
      <h2>
         ESDR
      </h2>
      <div class="page_instructions">
         Welcome to ESDR.
      </div>
   </div>
</div>