{{> navbar}}
<div class="main_container_with_navbar">
   <div class="card-body">
      <h2>
         ESDR
      </h2>
      <div class="page_instructions">
         Welcome to ESDR!
      </div>
      <h4>Explore</h4>
      <p>
         To explore and download public data, you can use our <a href="https://environmentaldata.org/"
            target="environmentaldata.org">environmentaldata.org</a> site.
      </p>
      <h4>Learn</h4>
      <p>
         To learn about how data in ESDR is organized, please see the <a
            href="https://github.com/CMU-CREATE-Lab/esdr/blob/master/README.md#concepts-and-terminology"
            target="readme">Concepts and Terminology</a> section of the <a
            href="https://github.com/CMU-CREATE-Lab/esdr/blob/master/README.md" target="readme">Read Me</a> document.
      </p>
      <h4>Contribute</h4>
      <p>
         To learn about uploading data and various ways to retrieve it, please see the <a
            href="https://github.com/CMU-CREATE-Lab/esdr/blob/master/HOW_TO.md" target="howto">How To</a> document.
      </p>
   </div>
</div>